---
import ReactIcon from '../icons/React.astro'
import ViteIcon from '../icons/Vite.astro'
import TailwindIcon from '../icons/Tailwind.astro'
import HTMLIcon from '../icons/Html.astro'
import CssIcon from '../icons/Css.astro'
import CmasLIcon from '../icons/Cmas.astro'
import JavascriptIcon from '../icons/Javascript.astro'
import AstroIcon from '../icons/Astroicon.astro'
---

<section class="mt-28 flex flex-col justify-center items-center">
    <div class="w-[1000px] flex flex-col justify-center items-center border-solid-1 border-blue-200">
        <h1 class="text-2xl font-bold text-blue-300">Tecnologias que utilizo</h1>
        <div>
          <table class="mt-6 mb-12">
              <tr class="text-white text-md flex flex-row gap-4 mb-3">
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><ReactIcon class="w-6 h-6"/>React</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><TailwindIcon class="w-6 h-6"/>Tailwind</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><HTMLIcon class="w-6 h-6" />HTML</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><CssIcon class="w-6 h-6" />CSS</td>
              </tr>
              <tr class="text-white text-md flex flex-row gap-4">
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><ViteIcon class="w-6 h-6" />Vite</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><JavascriptIcon class="w-6 h-6"/>JavaScript</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass"><CmasLIcon class="w-6 h-6" />C++</td>
                  <td class="font-bold flex flex-col justify-center items-center border border-gray-500 rounded-lg hover:brightness-200 hover:cursor-pointer p-4 w-24 glass "><AstroIcon class="w-8 h-8"/>Astro</td>
              </tr>
          </table>
      </div>
    </div>
</section>